.has-background-black-carbon{
    background-color: #1b1b1b !important;
}
.is-font-mont-bold{
    font-family: Montserrat Bold, sans-serif;
}
.is-font-mont-light{
    font-family: "Montserrat Light", sans-serif;
}
.is-font-mont-regular{
    font-family: "Montserrat", sans-serif;
}
.is-title{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #1b1b1b;
    padding-left: 12px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.is-title:hover{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #1b1b1b;
    padding-left: 12px;
    color: gray !important;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.is-sub{
    font-size: 36px;
}

.nava{
    color: #1b1b1b;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.nava:hover{
    color: gray !important;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    text-shadow: none;
}
.is-bordered-bot{
    border-bottom: 2px solid gray;
}

.is-active{
    text-align: center !important;
}

.notification{
    background-color: white !important;
}